@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
    font-family: Inter;
}

.profile-avatar {
    text-align: center;
}

.profile-avatar #profile__img {
    margin-bottom: 20px;
}

.profile-avatar #share_btn {
    position: absolute;
    right: 30%;
}

.link-section {
    margin-top: 5%;
    width: 100%;
}

.link-section .link-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.link-section .link-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1180px;
    width: 90%;
    padding: 24px 32px;
    margin: 20px 0px;
    background: #EAECF0;
    border: 1px solid #EAECF0;
    border-radius: 8px;
}

.link-section .link-buttons button:last-child {
    display: none;
}

.link-buttons button a {
    color: black;
    text-decoration: none;
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
}

.social_links {
    margin-top: 10px;
    margin-bottom: 5%;
}

.social_links .wrapper {
    width: 70px;
    display: flex;
    justify-content: space-between;
}

#contact_form {
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
}

.form-control {
    display: flex;
    flex-direction: column;
    width: 100%
}

.form-control label {
    font-family: Inter;
    color: #344054;
    font-family: 500;
    font-size: 14px;
    line-height: 20px;
}

.form-control input, .form-control textarea {
    padding: 10px 14px;
    box-sizing: border-box;
    border:  1px solid #D0D5DD;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}

.form-control textarea {
    padding: 12px 14px;
    height: 132px;
    max-width: 720px;
}

.form-control input::placeholder, textarea::placeholder {
    font-family: Inter;
    color: #667085;
    font-size: 12px;
    font-weight: 400;
}

#contact_form #btn__submit {
    background: #1570EF;
    border: 1px solid #1570EF;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    padding: 12px 20px;
    width: 100%;
    color: #FFFFFF;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    border-top: 1px solid rgb(199, 198, 198);
    padding: 20px 0px;
    margin: auto;
    margin-top: 3%;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width: 460px) {
    .profile-avatar #share_btn  {
        right: 10%;
    }
}